importFrom("utils", "packageDescription")
importFrom("rJava", ".jinit") 
importFrom("rJava", ".jnew")
importFrom("rJava", ".jarray")
importFrom("rJava", ".jshort")
importFrom("rJava", ".jlong")
importFrom("rJava", ".jevalArray")
importFrom("rJava", ".jcall")
importFrom("rJava", ".jclass")
importFrom("rJava", ".jclassLoader") 
importFrom("rJava", "J") 
exportPattern("^hdfs")
S3method("print", "hdfsFH")
S3method("as.character", "hdfsFH")